
<!-- Modal -->

<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="get" class="modal-content modal-body border-0 p-0">
          <div class="input-group mb-2">
              <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
              <button type="submit" class="input-group-text bg-success text-light">
                  <i class="fa fa-fw fa-search text-white"></i>
              </button>
          </div>
      </form>
  </div>
</div>
<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="/assets/images/home/home1.jpg" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 text-success">BackOfficeSpirits</h1>
                          <p>
                            A management system that allows reception of spirits bottle boxes. Our aim is to 
                            grow, build, create and manage the workflow.
                          </p>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="/assets/images/home/home2.jpg" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1">Our Culture</h1>
                          <!-- <h3 class="h2">Lorem Ipsum Lorem Ipsum</h3> -->
                          <p>
                          We work as a team to manage and deliver our promises to customers.We are transparent, data-driven and have a 
                          strong relationship with our customers
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                    <img class="img-fluid" src="/assets/images/home/home3.jpg" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1">Automate Team  Workflow</h1>
                          <!-- <h3 class="h2">Lorem Ipsum Lorem Ipsum </h3> -->
                          <p>
                           Our management system automates and takes care of all  orders without any hassle.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<section class="container py-5 myclass" >
 
   <div class="row myclass"> 
    <div class="col-16 col-md-5 mb-5">
         <a href="#">
        <img src="/assets/images/home/team2.jpg" class="rounded-circle img-fluid border" alt="...">

      </a>
     
    

</div>


    
       <div class="col-12 col-md-4 p-5 mt-3">
        <!-- <div style="text-align:center;width: 800px;margin-top: 160px;"> -->
        <h1 bold class="h1" ><b>We are here to support you on every step of your way!!</b></h1>
         
            <button mat-raised-button color="accent"><span class="material-icons">
                call
                </span></button><b>  24/7</b>
           <!-- <span class="material-icons">
            call
            </span> 24/7  -->
        <!-- </div> -->
            <br><b>support anytime, anywhere!</b>
            <br>
            <p>
        <br>  Ready to Start the amazing journey?!<a class="btn btn-success" (click)="goToLogin()"> Login !</a>
     
               </p>
    
      </div> 
    
    


  </div>
</section>

<section class="bg-light">
  <div class="container py-5">
      <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1">Employee Of the Month</h1>
              <p>
              Each month we select three employees who have performed exceptionally well !!
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="/assets/images/home/spiderman.png"class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      
                      <a href="#" class="h2 text-decoration-none text-dark">Andrew Benson</a>
                      <!-- <p class="card-text">
                          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt. -->
                          <!-- Name: 
                      </p> --> 
                     
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="/assets/images/home/ironman.jpg" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                     
                      <a href="#" class="h2 text-decoration-none text-dark">Aditya Sharma</a>
                      <p class="card-text">
                      <!-- Name: -->
                      <!-- </p>
                      <p class="text-muted">Reviews (48)</p> -->
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="/assets/images/home/captainmarvel.jpg" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      
                      <a href="#" class="h2 text-decoration-none text-dark">Fabliha Faiza Maliha</a>
                      <!-- <p class="card-text">
                      Name -->
                      <!-- </p>
                      <p class="text-muted">Reviews (74)</p> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
