

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <section class="">
    <div class="container p-1">
      <!-- Grid row -->
      <div class="row mt-1">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-5 mx-auto mb-4">
          <!-- Content -->
          <h4 class=" fw-bold  mb-4">
         BackOfficeSpirits 
          </h4>
          <p>
          A powerful management system that takes in orders of spirits bottle boxes and delivers them at your doorstep. 
          Contact us today for a quote !
          </p>
        </div>



        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Contact
          </h4>
          <p><span class="material-icons md-18">
            business
          </span>250 Yonge Street, Toronto, Ontario,Canada</p>
          <p>
            <span class="material-icons">
              email
              </span>
            info@example.com
          </p>
          <p><span class="material-icons">
            call
            </span> + 416 234 567 88</p>
        
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset " href="http://localhost:4200/home">BackOfficeSpirits.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->